<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="/stylesheets/jadwalkuliah.css">
    <title>Jadwal Kuliah</title>
</head>
<body>
    <!-- SIDEBAR -->
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/images/Logo_PENS.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">PENS</span>
                    <span class="profession">Emerging Technology</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                        <i class='bx bx-search icon'></i>
                        <input type="search" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon' ></i>
                            <span class="text nav-text">Presence</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-book-bookmark icon' ></i>
                            <span class="text nav-text">Matakuliah</span>
                        </a>
                    </li>
                </ul>
                
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-book-content icon' ></i>
                            <span class="text nav-text">Jadwal</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-edit icon' ></i>
                            <span class="text nav-text">Tugas</span>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="bottom-content">
                <div class="hr-horizontal"></div>
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class='bx bx-cog icon' ></i>
                        <span class="text nav-text">Settings</span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class='bx bx-help-circle icon' ></i>
                        <span class="text nav-text">Help</span>
                    </a>
                </li>
            </div>

        </div>
    </nav>


<!-- NAVBAR -->
    <section class="nav-bar">

        <div class="bar">
        
            <section class="head-bar">
                <div class="image-logo">

                    <div class="texts header-texts">
                        <span class="names">SiKAP</span>
                        <span class="professions">Sistem Kehadiran PENS</span>
                    </div>

                    <span class="logo"></span>
                        <img src="/images/logo_sikap.png" alt="logo">
                    </span>

                </div>
            </section>
            
        </div>
            
    </section>

<!-- dari sini bagian body atau isi -->

<!--BAGIAN JADWAL-->
<section class="crt1">
    
    <div class="container">

        <div class="hari senin">
            <span>Senin</span>
        </div>

        <div class="isi-jadwal">
            <div class="matk">
                <span >Metodologi Agile</span>
            </div>
            
            <div class="isi-jarak">
                <div class="kelas">
                    <span>Kelas :</span>
                    <span>3 D3PSDKU-SM IT kelas A</span>
                </div>
        
                <div class="waktu">
                    <span>Waktu :</span>
                    <span>10:30 - 12:10 WIB</span>
                </div>
        
                <div class="ruangan">
                    <span>Ruangan :</span>
                    <span>PSDKU-SM-K-101</span>
                </div>
            </div>
        </div>

        <div class="isi-jadwal">
            <div class="matk">
                <span >Metodologi Agile</span>
            </div>
            
            <div class="isi-jarak">
                <div class="kelas">
                    <span>Kelas :</span>
                    <span>3 D3PSDKU-SM IT kelas A</span>
                </div>
        
                <div class="waktu">
                    <span>Waktu :</span>
                    <span>10:30 - 12:10 WIB</span>
                </div>
        
                <div class="ruangan">
                    <span>Ruangan :</span>
                    <span>PSDKU-SM-K-101</span>
                </div>
            </div>
        </div>

        <div class="isi-jadwal">
            <div class="matk">
                <span >Metodologi Agile</span>
            </div>
            
            <div class="isi-jarak">
                <div class="kelas">
                    <span>Kelas :</span>
                    <span>3 D3PSDKU-SM IT kelas A</span>
                </div>
        
                <div class="waktu">
                    <span>Waktu :</span>
                    <span>10:30 - 12:10 WIB</span>
                </div>
        
                <div class="ruangan">
                    <span>Ruangan :</span>
                    <span>PSDKU-SM-K-101</span>
                </div>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="hari selasa">
            <span>Selasa</span>
        </div>

        <div class="isi-jadwal">
            <div class="matk">
                <span >Metodologi Agile</span>
            </div>
            
            <div class="isi-jarak">
                <div class="kelas">
                    <span>Kelas :</span>
                    <span>3 D3PSDKU-SM IT kelas A</span>
                </div>
        
                <div class="waktu">
                    <span>Waktu :</span>
                    <span>10:30 - 12:10 WIB</span>
                </div>
        
                <div class="ruangan">
                    <span>Ruangan :</span>
                    <span>PSDKU-SM-K-101</span>
                </div>
            </div>
        </div>

        <div class="isi-jadwal">
            <div class="matk">
                <span >Metodologi Agile</span>
            </div>
            
            <div class="isi-jarak">
                <div class="kelas">
                    <span>Kelas :</span>
                    <span>3 D3PSDKU-SM IT kelas A</span>
                </div>
        
                <div class="waktu">
                    <span>Waktu :</span>
                    <span>10:30 - 12:10 WIB</span>
                </div>
        
                <div class="ruangan">
                    <span>Ruangan :</span>
                    <span>PSDKU-SM-K-101</span>
                </div>
            </div>
        </div>

        <div class="isi-jadwal">
            <div class="matk">
                <span >Metodologi Agile</span>
            </div>
            
            <div class="isi-jarak">
                <div class="kelas">
                    <span>Kelas :</span>
                    <span>3 D3PSDKU-SM IT kelas A</span>
                </div>
        
                <div class="waktu">
                    <span>Waktu :</span>
                    <span>10:30 - 12:10 WIB</span>
                </div>
        
                <div class="ruangan">
                    <span>Ruangan :</span>
                    <span>PSDKU-SM-K-101</span>
                </div>
            </div>
        </div>

    </div>

    
    <div class="container">

        <div class="hari rabu">
            <span>Rabu</span>
        </div>

        <div class="isi-jadwal">
            <div class="matk">
                <span >Metodologi Agile</span>
            </div>
            
            <div class="isi-jarak">
                <div class="kelas">
                    <span>Kelas :</span>
                    <span>3 D3PSDKU-SM IT kelas A</span>
                </div>
        
                <div class="waktu">
                    <span>Waktu :</span>
                    <span>10:30 - 12:10 WIB</span>
                </div>
        
                <div class="ruangan">
                    <span>Ruangan :</span>
                    <span>PSDKU-SM-K-101</span>
                </div>
            </div>
        </div>

        <div class="isi-jadwal">
            <div class="matk">
                <span >Metodologi Agile</span>
            </div>
            
            <div class="isi-jarak">
                <div class="kelas">
                    <span>Kelas :</span>
                    <span>3 D3PSDKU-SM IT kelas A</span>
                </div>
        
                <div class="waktu">
                    <span>Waktu :</span>
                    <span>10:30 - 12:10 WIB</span>
                </div>
        
                <div class="ruangan">
                    <span>Ruangan :</span>
                    <span>PSDKU-SM-K-101</span>
                </div>
            </div>
        </div>

        <div class="isi-jadwal">
            <div class="matk">
                <span >Metodologi Agile</span>
            </div>
            
            <div class="isi-jarak">
                <div class="kelas">
                    <span>Kelas :</span>
                    <span>3 D3PSDKU-SM IT kelas A</span>
                </div>
        
                <div class="waktu">
                    <span>Waktu :</span>
                    <span>10:30 - 12:10 WIB</span>
                </div>
        
                <div class="ruangan">
                    <span>Ruangan :</span>
                    <span>PSDKU-SM-K-101</span>
                </div>
            </div>
        </div>

    </div>

    
    <div class="container">

        <div class="hari kamis">
            <span>Kamis</span>
        </div>

        <div class="isi-jadwal">
            <div class="matk">
                <span >Metodologi Agile</span>
            </div>
            
            <div class="isi-jarak">
                <div class="kelas">
                    <span>Kelas :</span>
                    <span>3 D3PSDKU-SM IT kelas A</span>
                </div>
        
                <div class="waktu">
                    <span>Waktu :</span>
                    <span>10:30 - 12:10 WIB</span>
                </div>
        
                <div class="ruangan">
                    <span>Ruangan :</span>
                    <span>PSDKU-SM-K-101</span>
                </div>
            </div>
        </div>

        <div class="isi-jadwal">
            <div class="matk">
                <span >Metodologi Agile</span>
            </div>
            
            <div class="isi-jarak">
                <div class="kelas">
                    <span>Kelas :</span>
                    <span>3 D3PSDKU-SM IT kelas A</span>
                </div>
        
                <div class="waktu">
                    <span>Waktu :</span>
                    <span>10:30 - 12:10 WIB</span>
                </div>
        
                <div class="ruangan">
                    <span>Ruangan :</span>
                    <span>PSDKU-SM-K-101</span>
                </div>
            </div>
        </div>

        <div class="isi-jadwal">
            <div class="matk">
                <span >Metodologi Agile</span>
            </div>
            
            <div class="isi-jarak">
                <div class="kelas">
                    <span>Kelas :</span>
                    <span>3 D3PSDKU-SM IT kelas A</span>
                </div>
        
                <div class="waktu">
                    <span>Waktu :</span>
                    <span>10:30 - 12:10 WIB</span>
                </div>
        
                <div class="ruangan">
                    <span>Ruangan :</span>
                    <span>PSDKU-SM-K-101</span>
                </div>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="hari jumat">
            <span>Jumat</span>
        </div>

        <div class="isi-jadwal">
            <div class="matk">
                <span >Metodologi Agile</span>
            </div>
            
            <div class="isi-jarak">
                <div class="kelas">
                    <span>Kelas :</span>
                    <span>3 D3PSDKU-SM IT kelas A</span>
                </div>
        
                <div class="waktu">
                    <span>Waktu :</span>
                    <span>10:30 - 12:10 WIB</span>
                </div>
        
                <div class="ruangan">
                    <span>Ruangan :</span>
                    <span>PSDKU-SM-K-101</span>
                </div>
            </div>
        </div>

        <div class="isi-jadwal">
            <div class="matk">
                <span >Metodologi Agile</span>
            </div>
            
            <div class="isi-jarak">
                <div class="kelas">
                    <span>Kelas :</span>
                    <span>3 D3PSDKU-SM IT kelas A</span>
                </div>
        
                <div class="waktu">
                    <span>Waktu :</span>
                    <span>10:30 - 12:10 WIB</span>
                </div>
        
                <div class="ruangan">
                    <span>Ruangan :</span>
                    <span>PSDKU-SM-K-101</span>
                </div>
            </div>
        </div>

        <div class="isi-jadwal">
            <div class="matk">
                <span >Metodologi Agile</span>
            </div>
            
            <div class="isi-jarak">
                <div class="kelas">
                    <span>Kelas :</span>
                    <span>3 D3PSDKU-SM IT kelas A</span>
                </div>
        
                <div class="waktu">
                    <span>Waktu :</span>
                    <span>10:30 - 12:10 WIB</span>
                </div>
        
                <div class="ruangan">
                    <span>Ruangan :</span>
                    <span>PSDKU-SM-K-101</span>
                </div>
            </div>
        </div>

    </div>

</section>


    <script src="/javascripts/landing.js"></script>
</body>
</html>