<%- include('../partials/__head.ejs') %>
<%- include('../partials/__nav.ejs') %>
<div class="content-wrapper d-flex align-items-center justify-content-center">
    <div class="col grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tambah Mata Kuliah</h4> 
                <form action="/matakuliah/store" method="POST" class="forms-sample">
                    <div class="form-group">
                        <label for="nama_matakuliah">Nama Mata Kuliah</label>
                        <input type="text" class="form-control" id="nama_matakuliah" name="nama_matakuliah" placeholder="Nama Mata Kuliah" required>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button type="button" class="btn btn-light" onclick="history.back()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/__foot.ejs') %>
