<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>presensi</title>
        <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel="stylesheet" href="/stylesheets/ifzal.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                        <img src="/images/logo_PENS.png" alt="logo">
                    </span>

                    <div class="text header-text">
                        <span class="name">PENS</span>
                        <span class="profession">Emerging Technology</span>
                    </div>
                </div>

                <i class='bx bx-chevron-right toggle'></i>
            </header>

            <div class="menu-bar">
                <div class="menu">
                    <li class="search-box">
                            <i class='bx bx-search icon'></i>
                            <input type="search" placeholder="Search...">
                    </li>

                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-bell icon' ></i>
                                <span class="text nav-text">Presence</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-home icon' ></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-book-bookmark icon' ></i>
                                <span class="text nav-text">Matakuliah</span>
                            </a>
                        </li>
                    </ul>
                    
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-book-content icon' ></i>
                                <span class="text nav-text">Jadwal</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-edit icon' ></i>
                                <span class="text nav-text">Tugas</span>
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="bottom-content">
                    <div class="hr-horizontal"></div>
                    <li class="">
                        <a href="#">
                            <i class='bx bx-log-out icon' ></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class='bx bx-cog icon' ></i>
                            <span class="text nav-text">Settings</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class='bx bx-help-circle icon' ></i>
                            <span class="text nav-text">Help</span>
                        </a>
                    </li>
                </div>

            </div>
        </nav>

    <!-- NAVBAR -->
        <section class="nav-bar">

            <div class="bar">      
                <section class="head-bar">
                    <div class="image-logo">

                        <div class="texts header-texts">
                            <span class="names">SiKAP</span>
                            <span class="professions">Sistem Kehadiran PENS</span>
                        </div>

                        <span class="logo"></span>
                            <img src="/images/logo_sikap.png" alt="logo">
                        </span>

                    </div>
                </section>     
            </div>
        </section> 


        <div class="container-presensi">
            <div class="card presensi" style="width: 55%;">
                <div class="card-body presensi">
                    <div class="title-header">
                        <h4 style="margin-bottom: -2px;">Workshop Aplikasi Berbasis Web</h5>
                    </div>
                    <div class="info-container">
                        <p><span class="label">Nama</span> : jfasjfklasfklasf</p>
                        <p><span class="label">NRP</span> : 24423452352</p>
                        <p><span class="label">Waktu</span> : Senin (13:00 - 15:30)</p>
                        <p><span class="label">Ruangan</span> : afdsfdsad</p>
                        <p><span class="label">Presensi Terakhir</span> : Kamis, 19 September 2024 - 11:52:40</p>
                    </div>
                    <div class="presensi-button">
                        <button type="button" class="btn btn-success" >PRESENSI</button>
                        <button type="button" class="btn btn-secondary" >KONFERENSI SiKAP</button>
                        <button type="button" class="btn btn-secondary ">KONFERENSI LAINNYA</button>
                    </div>
                    
                </div>
            </div>

            <div class="card" style="width: 40%;">
                <div class="card-body card-color">
                    <h5 class="card-title">History Presensi</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">TANGGAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2813386</td>
                                <td>Kamis, 19 September 2024 - 11:53:05</td>
                            </tr>
                            <tr>
                                <td>2813386</td>
                                <td>Kamis, 19 September 2024 - 11:53:05</td>
                            </tr>
                            <tr>
                                <td>2813386</td>
                                <td>Kamis, 19 September 2024 - 11:53:05</td>
                            </tr>
                            <tr>
                                <td>2813386</td>
                                <td>Kamis, 19 September 2024 - 11:53:05</td>
                            </tr>
                            <tr>
                                <td>2813386</td>
                                <td>Kamis, 19 September 2024 - 11:53:05</td>
                            </tr>
                            <tr>
                                <td>2813386</td>
                                <td>Kamis, 19 September 2024 - 11:53:05</td>
                            </tr>
                            <tr>
                                <td>2813386</td>
                                <td>Kamis, 19 September 2024 - 11:53:05</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card" style="width: 98%;">
                <div class="card-body card-color">
                    <h5 class="card-title">Peserta Kuliah</h5>
                    <div class="search-container">
                        <input type="text" id="searchInput" placeholder="Cari berdasarkan NRP, Nama, atau Jenis Kelamin..." />
                        <div class="info-peserta">
                            <p><span class="label">Laki - Laki</span> : 12</p>
                            <p><span class="label">Perempuan</span> : 5</p>
                            <p><span class="label">Total</span> : 15</p>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">NRP</th>
                                <th scope="col">NAMA</th>
                                <th scope="col">JENIS KELAMIN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>3123522001</td>
                                <td>Ibram Maulana Akhsanul Qasasi</td>
                                <td>Laki-Laki</td>
                            </tr>
                            <tr>
                                <td>3123522001</td>
                                <td>Ibram Maulana Akhsanul Qasasi</td>
                                <td>Laki-Laki</td>
                            </tr>
                            <tr>
                                <td>3123522001</td>
                                <td>Ibram Maulana Akhsanul Qasasi</td>
                                <td>Laki-Laki</td>
                            </tr>
                            <tr>
                                <td>3123522001</td>
                                <td>Ibram Maulana Akhsanul Qasasi</td>
                                <td>Laki-Laki</td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/javascripts/landing.js"></script>
    </body>
</html>